<h1 matDialogTitle>Update user</h1>
<mat-dialog-content>
  <form [formGroup]="updateForm" autocomplete="off" fxLayoutAlign="center center">

    <mat-form-field class="col-md-12">
      <input matInput type="text" placeholder="FirstName" formControlName="firstName" id="firstName">
      <mat-error *ngIf="updateForm.get('firstName').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <input matInput type="text" placeholder="LastName" formControlName="lastName" id="lastName">
      <mat-error *ngIf="updateForm.get('lastName').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput type="text" placeholder="Login" formControlName="login" id="login">
      <mat-error *ngIf="updateForm.get('login').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput type="text" placeholder="Email" formControlName="email" id="email">
      <mat-error *ngIf="updateForm.get('email').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput type="text" placeholder="PhoneNumber" formControlName="phoneNumber" id="phoneNumber">
      <mat-error *ngIf="updateForm.get('phoneNumber').hasError('required')">Required field</mat-error>
    </mat-form-field>



  </form>
</mat-dialog-content>

<mat-dialog-actions>
<button mat-button type="button" mat-raised-button color="warn" matDialogClose (click)="close()">Cancel</button>
<button mat-button type="button" mat-raised-button color="primary" [disabled]="!updateForm.valid"
  (click)="save()">Save</button>

</mat-dialog-actions>
