<p class="text-xs-center">Регистрация для получения доступа</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label for="email">Email</label>
    <input type="text" class="form-control underlined" id="email" placeholder="Введите email" formControlName="email">
    <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email')['errors']['required']">Email can not be empty!</span>
      <span *ngIf="form.get('email')['errors']['email']">Paste correct email!</span>
      <span *ngIf="form.get('email')['errors']['forbiddenEmail']">Email exist </span>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Password</label>
    <input type="password" class="form-control underlined" id="password" placeholder="Введите пароль"
      formControlName="password">
    <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Password can not be empty! </span>
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}">
    <label for="login">Name</label>
    <input type="text" class="form-control underlined" id="login" placeholder="Введите имя" formControlName="login">
    <span class="form-help-text" *ngIf="form.get('login').invalid && form.get('login').touched">
      login can not be empty!
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': form.get('firstName').invalid && form.get('firstName').touched}">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control underlined" id="firstName" placeholder="Enter First Name"
      formControlName="firstName">
    <span class="form-help-text" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
      Can not be empty!
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('lastName').invalid && form.get('lastName').touched}">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control underlined" id="lastName" placeholder="Enter Last Name"
      formControlName="lastName">
    <span class="form-help-text" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
      Can not be empty!
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('phoneNumber').invalid && form.get('phoneNumber').touched}">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" class="form-control underlined" id="phoneNumber" placeholder="Enter phone number"
      formControlName="phoneNumber">
    <span class="form-help-text" *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched">
      Can not be empty!
    </span>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">
      Registration
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Do you have account?
      <a [routerLink]="'/login'">
        Log in!
      </a>
    </p>
  </div>
</form>
