<h1 matDialogTitle>Update shipping</h1>
<mat-dialog-content>
  <form [formGroup]="updateForm" autocomplete="off" fxLayoutAlign="center center">
    <mat-form-field class="col-md-12">
      <input matInput type="text" placeholder="AddressType" formControlName="addressType" id="addressType">
      <mat-error *ngIf="updateForm.get('addressType').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <input matInput type="text" placeholder="Adress" formControlName="adress" id="adress">
      <mat-error *ngIf="updateForm.get('adress').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput type="text" placeholder="City" formControlName="city" id="city">
      <mat-error *ngIf="updateForm.get('city').hasError('required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input type="text" matInput placeholder="Country" formControlName="country" [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let country of countries | async" [label]="country.letter">
          <mat-option *ngFor="let name of country.names" [value]="name">
            {{name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <input matInput type="text" placeholder="Postal Code" formControlName="postalCode" id="postalCode">
    </mat-form-field>


  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" mat-raised-button color="warn" matDialogClose (click)="close()">Cancel</button>
  <button mat-button type="button" mat-raised-button color="primary" [disabled]="!updateForm.valid" (click)="save()">Save</button>
  <button mat-button type="button" mat-raised-button color="primary" (click)="addNewShipping()">add new shipping</button>

</mat-dialog-actions>
