<h1>Search form</h1>


<form [formGroup]="searchForm" autocomplete="off" novalidate (ngSubmit)="searchUser(searchForm.value)"
  fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card-content>

    <div class="container">
      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput type="text" placeholder="First Name" formControlName="firstName" id="firstName">
          <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 20 characters</mat-error>
          <mat-error *ngIf="hasError('firstName', 'required')">Its required field</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput type="text" placeholder="Last name" formControlName="lastName" id="lastName">
          <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 20 characters</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <mat-form-field class="col-md-4">
          <input matInput type="text" placeholder="User name" formControlName="login" id="login">
          <mat-error *ngIf="hasError('login', 'maxlength')">You have more than 20 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <input matInput type="text" placeholder="Email" formControlName="email" id="email">
          <mat-error *ngIf="hasError('email', 'pattern')">
            incorect format
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <input matInput type="text" placeholder="Phone" formControlName="phoneNumber" id="phoneNumber">
          <mat-error *ngIf="hasError('phoneNumber', 'pattern')">Only numbers</mat-error>
          <mat-error *ngIf="hasError('phoneNumber', 'minlength')  && !(hasError('phoneNumber', 'pattern'))">
            Must be more than 5 numbers</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>


  <mat-card-actions>
    <div class="container">
      <div class="row">
        <button class="col-md-1" mat-raised-button color="primary" [disabled]="!searchForm.valid">Search</button>
        <button class="col-md-1" type="button" mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </div>
  </mat-card-actions>

</form>








<hr>
<hr>
<hr>
<hr>
<div *ngIf="users.length"  [@fade]>
    Row2 title
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>


















<!--

  <mat-form-field class="col-md-4">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
